:focus {
    outline: blue;
}

body {
    background-image: url(img/screen-6.jpg);
    background-size: cover;
}

@media (max-width: 720px) {
    body {
        background-image: url(img/screen-7.jpg);
        background-size: cover;
    }
}

span {
    color: red;
    font-size: 40px;
    display: block;
    text-align: center;
    font-family: monospace;
}

@media (max-width: 720px) {
    span {
        font-size: 25px;
    }
}

.header {
    display: none;
}

@media (max-width: 720px) {
    .header {
        display: block;
        position: absolute;
        bottom: 70%;
        font-size: 43px;
        text-transform: uppercase;
        font-family: fantasy;
        color: yellow;
    }
}

.container {
    width: 1280px;
    margin: 0 auto;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 360px;
}

@media (max-width: 720px) {
    .container {
        width: 100%;
        margin: 0 auto;
        height: 96vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }
}

.table-wrp {
    border: 5px solid forestgreen;
    border-radius: 3%;
    padding: 10px;
    background-color: darkslategray;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border: 5px solid forestgreen;
}

.menu__window {
    background-color: #000000;
    width: 80px;
}

@media (max-width: 720px) {
    .menu__window {
        width: 50px;
    }
}

button {
    width: 70px;
    background-image: url(img/smyle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0 2px 4px 1px black;
    border: none;
    background-color: forestgreen;
}

@media (max-width: 720px) {
    button {
        width: 40px;
    }
}

#parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media (max-width: 720px) {
    #parameters {
        font-size: 14px;
    }
}

.parameters__text {
    text-transform: uppercase;
    margin-right: 30px;
}

table {
    border-spacing: 2px;
    table-layout: fixed;
    border: 5px solid forestgreen;
    border-top: none;
}


td {
    width: 20px;
    height: 20px;
    border: 3px solid darkgray;
    color: darkblue;
    font-size: 15px;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
    background-color: gray;
}

@media (max-width: 720px) {
    td {
        width: 10px;
        height: 10px;
        font-size: 8px;

    }
}

.td--bomb {
    background-image: url(img/bomb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: red;
}

.td--background {
    background-color: darkgray;
}

.td--image {
    background-image: url(img/flag.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.button--image-lost {
    background-image: url(img/smyle2.png);
}

.button--image-win {
    background-image: url(img/smyle3.png);
}

button:active {
    box-shadow: none;
}

button:hover {
    background-color: rgb(39, 131, 39);
    cursor: pointer;
}

label:hover {
    color: yellow;
    cursor: pointer;
}

label:active {
    color: lightyellow;
}

input[type="radio"] {
    visibility: hidden;
}

.header--display {
    display: none;
}